fastapi[all]
SQLAlchemy
aiosqlite
packaging
websockets
uvicorn
databases
numpy==1.26.2
numpy-financial
dateutils>=0.6.12
matplotlib==3.8.3
pandas==2.2.1
pytest>=7.1.2
pyxirr==0.9.3
pyxlsb>=1.0.10
scipy==1.13.1
click==8.1.7
dask[distributed]
psutil
setuptools
greenlet
gunicorn
pathos