fastapi[all]~=0.110.0
SQLAlchemy
aiosqlite
packaging
websockets
uvicorn~=0.28.0
databases
numpy==1.26.2
numpy-financial
dateutils>=0.6.12
matplotlib~=3.10.3
pandas~=2.3.0
pytest>=7.1.2
pyxirr==0.9.3
pyxlsb>=1.0.10
scipy~=1.16.0
click==8.1.7
dask[distributed]
psutil
setuptools
greenlet
gunicorn
pathos
pyscnomics~=1.4.0
xlwings~=0.33.15
pydantic~=2.6.4
starlette~=0.36.3